mixin rewiev()
	+b.rewiev&attributes(attributes)
		+e.slider.slick_arrow-pos_top-right
			+e.slide
				+e.wrap
					+e.image-wrap
						+e('img').image(src='./assets/images/img_rewiev.jpg')
					+e.content
						+e('span').title Иван иванов
						+e('span').subtitle Строительная компания
						+e('span').date 14.07.2017
						+b.post.__text
							p Мы мало говорим и хорошо делаем. За годы опыта работы, реализовали проекты разной сложности. Развивали разные ниши и воплощали теоретические бизнес модели в жизнь. Разработка сайтов в нашей компании - это постановка конкретной задачи создать передовой и эффективный инструмент для увеличения потока заявок и числа звонков. Одним из основных двигателей этих процессов является продвижение сайтов и контекстная реклама. Благодаря данным инструментам повышается узнаваемость Вашего бренда, увеличивается доля Ваших товаров и услуг на рынке.
			+e.slide
				+e.wrap
					+e.image-wrap
						+e('img').image(src='./assets/images/img_rewiev.jpg')
					+e.content
						+e('span').title Иван иванов
						+e('span').subtitle Строительная компания
						+e('span').date 14.07.2017
						+b.post.__text
							p Мы мало говорим и хорошо делаем. За годы опыта работы, реализовали проекты разной сложности. Развивали разные ниши и воплощали теоретические бизнес модели в жизнь. Разработка сайтов в нашей компании - это постановка конкретной задачи создать передовой и эффективный инструмент для увеличения потока заявок и числа звонков. Одним из основных двигателей этих процессов является продвижение сайтов и контекстная реклама. Благодаря данным инструментам повышается узнаваемость Вашего бренда, увеличивается доля Ваших товаров и услуг на рынке.