.field-file
  &__path
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  input[type="file"]
    display none

+media($breakpoints[xs], 'max')
  .field-file
    flex-direction column
    & > *
      width 100%