.sn-types
	color #ffffff
	background #262525 url(../images/bg_sn-types.jpg) no-repeat center top
	background-size cover

	&__title
		margin-bottom 50px
		display block
		font-weight bold
		text-transform uppercase
		color $color-accent2