mixin sn-mobile()
	+b.sn-mobile&attributes(attributes)
		+e.container.container
			+e.wrap
				+b('span').capt._h3.__title Мобильная версия сайта
				+b.post.__content
					p Мобильная версия сайта сегодня чрезвычайно востребована, поскольку порядка 80% людей выходят в интернет со своих смартфонов.
					p Мобильный формат специально оптимизирован для работы и просмотра контента с телефона - это позволяет избежать многих проблем и неудобства при посещении.
					p Таким образом привлекательность сайта увеличивается, а вместе с этим растёт посещаемость, польза и доходность вашего бизнеса

			+e('img').image(src='./assets/images/img_mobile.png')