mixin footer()
	+b('footer').footer&attributes(attributes)
		+e.grid.grid_gutters_all
			.col-12.col-lg-2
				+logo('logo.png')
			.col-12.col-lg-6
				p Разработка сайтов
					br
					| индивидуально под ваш проект
			.col-12.col-lg-4
				+link('#')._primary Юридическая
					br
					| информация