mixin footer()
	+b('footer').footer&attributes(attributes)
		+e.grid.grid_gutters_all
			.col-12.col-lg-2
				+logo('logo.png')
			.col-12.col-lg-6
				p Разработка сайтов
					br
					| индивидуально под ваш проект
			+e.col-12.col-lg-4
				+e.link-wrap
					+link('#')._primary Юридическая информация
				+e.link-wrap
					+link('#m2')._primary.__link Обратная Связь