@font-face
  font-family 'Circe'
  src url('../fonts/Circe-Regular.eot')
  src url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff2') format('woff2'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Circe'
  src url('../fonts/Circe-Bold.eot')
  src url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff2') format('woff2'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family 'Circe'
  src url('../fonts/Circe-ExtraBold.eot')
  src url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-ExtraBold.woff2') format('woff2'), url('../fonts/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe-ExtraBold.ttf') format('truetype'), url('../fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg')
  font-weight 800
  font-style normal

@font-face
  font-family 'Eurofurence'
  src url('../fonts/Eurofurencebold.eot')
  src url('../fonts/Eurofurencebold.eot?#iefix') format('embedded-opentype'), url('../fonts/Eurofurencebold.woff2') format('woff2'), url('../fonts/Eurofurencebold.woff') format('woff'), url('../fonts/Eurofurencebold.ttf') format('truetype'), url('../fonts/Eurofurencebold.svg#Eurofurencebold') format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family 'Eurofurence'
  src url('../fonts/Eurofurenceregular.eot')
  src url('../fonts/Eurofurenceregular.eot?#iefix') format('embedded-opentype'), url('../fonts/Eurofurenceregular.woff2') format('woff2'), url('../fonts/Eurofurenceregular.woff') format('woff'), url('../fonts/Eurofurenceregular.ttf') format('truetype'), url('../fonts/Eurofurenceregular.svg#Eurofurenceregular') format('svg')
  font-weight 500
  font-style normal
