// color scheme
// _rich | _light | _dark
$color-white = #ffffff
$color-white_95 = #f2f2f2
$color-white_90 = #e6e6e6
$color-white_85 = #dadada
$color-white_72 = #b6b5b8
$color-white_60 = #999999
$color-white_20 = #313033
$color-black = #000000

$color-accent1 = #fdc709
$color-accent1_dark-50 = #fea013
$color-accent1_dark = #844512
$color-accent2 = #00a4d2
$color-accent2_rich = #2958fd
$color-accent3 = #d9123e
$color-accent3_rich = #fe051c

$color-primary = #191d2b
// color scheme

$font-family_eurofurence = 'Eurofurence', sans-serif
$font-family_circe = 'Circe', sans-serif
$font-family_primary = $font-family_eurofurence

// uses in app.styl
$app-font-family = $font-family_primary
$app-font-size = 18px // also uses in mixins.styl for rem()
$app-font-weight = 500
$app-line-height = 1.2
$app-color = $color-primary
$app-bg-color = #fff

$breakpoints = {
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1320px
  xl: 1440px
}

$container-size = {
  xs: 0,
  sm: 740px,
  md: 980px,
  lg: 1280px,
  xl: 0
}