.timer
	font-weight bold
	color #d6e2e5

	&__title
		display block
		font-size 27px
		line-height 24px
		text-transform uppercase

	&__inc
		padding 0 5px
		display inline-block
		font-size 46px

	&__desc
		font-size 11px
		text-transform uppercase