extends ../blocks/layouts/main/main

block head
	- var pageTitle = 'Главная';

block content
	.container
		- for (var i = 0; i < 4; i++)
			br
		p
			+b('span').capt-shadow._type-2 RUN
		br
		p
			+link('main.html')(target='_blank') - Главная страница
		p
			+link('modal.html')(target='_blank') - Демонстрация работы модальных окон