.label
  padding .6em .9em
  display inline-block
  font-size 90%
  font-weight normal
  line-height 1
  text-align center
  text-transform none
  vertical-align baseline
  white-space nowrap
  user-select none
  color #fff
  border-radius 4px

  &_default
    background-color #d7d8d8

  &_accent-1
    background-color $color-accent1

  &_accent-2
    background-color $color-accent2_rich

  &_accent-3
    background-color $color-accent3_rich