.sn-clients
	padding-top 0

	&__image-wrap
		position relative
		margin-bottom 20px
		padding-top 20px
		display flex
		overflow hidden
		height 160px
		max-height 160px
		&:hover
			.sn-clients__image
				transform scale(1.1, 1.1)

	&__image
		margin auto
		display block
		max-width 100%
		transition transform linear .1s