.capt-shadow
  display block
  font-size 22px
  font-weight bold
  text-transform uppercase
  text-shadow 0 5px 15px alpha(#cd00f9, 31%)

  &_type-1
    text-shadow 0 5px 15px alpha(#0052f9, 31%)

  &_type-2
    text-shadow 0 5px 15px alpha(#007728, 31%)

  &_type-3
    text-shadow 0 5px 15px alpha(#cd3f00, 31%)