include ui/btn/btn
include ui/cap/cap
include ui/capt/capt
include ui/field/field
include ui/icon/icon
include ui/link/link
include ui/logo/logo
include ui/btn-burger/btn-burger
include ui/navigation/navigation
include ui/rewiev/rewiev
include ui/scroll-space/scroll-space
include ui/switcher/switcher

include ui/card/card
include ui/timer/timer
include ui/list-plus/list-plus
include widgets/tabs/tabs
include ui/browser-live/browser-live
include ui/tagline/tagline

include widgets/footer/footer
include widgets/header/header
include widgets/remodal/remodal
include widgets/sn-about/sn-about
include widgets/sn-advant/sn-advant
include widgets/sn-clients/sn-clients
include widgets/sn-feedback/sn-feedback
include widgets/sn-gallery/sn-gallery
include widgets/sn-mobile/sn-mobile
include widgets/sn-offer/sn-offer
include widgets/sn-rewiev/sn-rewiev
include widgets/sn-serv/sn-serv
include widgets/sn-start/sn-start
include widgets/sn-tariff/sn-tariff
include widgets/sn-types/sn-types
include widgets/wizard/wizard

