.accents

  &_type-1
    color $color-accent1

  &_type-2
    color $color-accent2

  &_type-2_rich
    color $color-accent2_rich

  &_type-3
    color $color-accent3

  &_type-3
    color $color-accent3