mixin tabs()
	+b.tabs&attributes(attributes)
		+e('nav').nav
			+e('span').switcher Сайт-визитка
			+e('span').switcher лендинг
			+e('span').switcher сайт каталог
			+e('span').switcher Корпаративный сайт
			+e('span').switcher Портал
		+e.container
			- var mas = ['Сайт-визитка', 'лендинг', 'сайт каталог', 'Корпаративный сайт', 'Портал']
				each item in mas
					+e.content
						+e.grid.grid
							.col-12.col-lg-6
								+b('span').capt._h2.__title!=item
								+b('span').capt._h5.__subtitle Обеспечивает
									br
									| полную разработку сайта для бизнеса
								+b.post.__text
									p Мы мало говорим и хорошо делаем. За годы опыта работы, реализовали проекты разной сложности. Развивали разные ниши и воплощали теоретические бизнес модели в жизнь. Разработка сайтов в нашей компании - это постановка конкретной задачи создать передовой и эффективный инструмент для увеличения потока заявок и числа звонков. Одним из основных двигателей этих процессов является продвижение сайтов и контекстная реклама. Благодаря данным инструментам повышается узнаваемость Вашего бренда, увеличивается доля Ваших товаров и услуг на рынке.
									p Все сложности - возьмем на себя. Благодаря высокой квалификации наших
							.col-12.col-lg-6
								+browser-live('img_browser-site_1.jpg').__image