.browser-live
	padding-top 50px
	max-width 631px
	background #303030 url(../images/bg_browser-live.png) no-repeat top center
	background-size contain
	box-shadow 0 5px 70px alpha($color-accent2, 21%)
	&__image
		min-width 100%
		max-width 100%