mixin sn-about()
	+b.sn-about&attributes(attributes)
		.container
			.grid
				+e.content.col-12.col-lg-6
					+b('span').capt._h5.accents__._type-3.__we Наша компания
					+b('span').capt.__title Обеспечивает
						br
						| полную разработку сайта для бизнеса
					+b.post.__text
						p Мы мало говорим и хорошо делаем. За годы опыта работы, реализовали проекты разной сложности. Развивали разные ниши и воплощали теоретические бизнес модели в жизнь. Разработка сайтов в нашей компании - это постановка конкретной задачи создать передовой и эффективный инструмент для увеличения потока заявок и числа звонков. Одним из основных двигателей этих процессов является продвижение сайтов и контекстная реклама. Благодаря данным инструментам повышается узнаваемость Вашего бренда, увеличивается доля Ваших товаров и услуг на рынке.
						p Все сложности - возьмем на себя. Благодаря высокой квалификации наших сотрудников и открытому подходу к каждому клиенту, легкость в управлении сайтом будет Вам гарантирована. Работая по всему Миру мы, вместе с Вами, расширим границы вашего рынка сбыта.
				.col-12.col-lg-6
					+e.video-bg
						+e('a').video-bg-screen(href='#modal-video')