.post
  table
    margin-bottom 2em
  .table
    display block
    overflow-x auto
    -webkit-overflow-scrolling touch
    -ms-overflow-style -ms-autohiding-scrollbar
    width 100%
    max-width 100%
    thead th
      vertical-align bottom
      border-bottom 2px solid #e9ecef
    th
      font-weight bold
    td
    th
      padding .75em
      vertical-align top
      border-top 1px solid #e9ecef
  ul
  ol
    padding-left 30px
  img
    max-width 100%
  a
    display inline-block
    text-decoration underline
    color $color-accent
    &:hover
    &:focus
      text-decoration none
  b
  strong
    font-size 1.3em
    font-weight 500
    color $color-accent3
  i
    font-style italic
  h1
    font-size 2.5em
  h2
    font-size 2em
  h3
    font-size 1.75em
  h4
    font-size 1.5em
  h5
    font-size 1.25em
  h6
    font-size 1em
  h1
  h2
  h3
  h4
  h5
  h6
    margin-bottom .25em
  p
    margin-bottom 1.3em
    &:last-child
      margin-bottom 0
  blockquote
    margin 25px 0 25px 60px
    padding-left 20px
    border-left 4px solid $color-accent2
  figure
    margin 0 0 1rem
    display inline-block
  figcaption
    font-size 90%